[submodule "vendor/ZFTool"]
	path = vendor/ZFTool
	url = https://github.com/zendframework/ZFTool.git
[submodule "vendor/CAS/src"]
	path = vendor/CAS/src
	url = https://github.com/Jasig/phpCAS.git
[submodule "vendor/BjyAuthorize"]
	path = vendor/BjyAuthorize
	url = https://github.com/bjyoungblood/BjyAuthorize.git
[submodule "vendor/EdpModuleLayouts"]
	path = vendor/EdpModuleLayouts
	url = https://github.com/EvanDotPro/EdpModuleLayouts.git
