<p class="alert alert-danger" ng-show="searchError">{{searchError}}</p>
<div ng-controller="search-form">
    <div ng-show="!searched">
        <h1>Search for a Room</h1>
        <p>Use this form to search for meeting rooms.</p>
        <form id="searchForm" name="searchForm" ng-submit="submitForm()" novalidate class="form-horizontal" >
            <div data-locations-dropdown></div>
            <label for="roomName">Room Name:</label>
            <input type="text" id="roomName" class="form-control" ng-model="roomName" /><br />
            <div data-capacity-select></div>
            <div data-roomtype-dropdown></div>
            <div data-technology-select></div>
            <button type="submit" class="btn btn-primary searchFormSubmit">Search</button>
            <button type="reset" ng-click='resetForm()' class="btn btn-primary searchFormSubmit">Reset</button>
        </form>
    </div>
    <div class="modal fade loading" id="searchLoading" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            Searching <img src="/images/loading.gif" alt="searching" />
          </div>
        </div>
    </div>
</div>
<div ng-controller="search-results">
    <div id="searchResults" ng-show="searched">
        <p class="alert alert-danger" ng-show="searchResultsError">{{searchResultsError}}</p>
        <p class="alert alert-dismissable" ng-show="searchResultsMsg">{{searchResultsMsg}}</p>
        <h1>Search Results</h1>
        <div data-search-results></div>
        <div style="clear:both;">
            <a href="/"><button type="reset" class="btn btn-primary searchFormSubmit">New Search</button></a>
        </div>
    </div>

    <div class="modal fade details" id="roomDetails" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
                    <h4 class="modal-title">Room Details</h4>
                </div>
                <div class="modal-body">
                    <div class="details-img">
                        <a href="" ng-click="showFullImage()"><img ng-src="{{room.thumbnail}}" /></a>
                        <a href="" ng-click="showAdditionalImages()">Additional Images</a>
                        <div id="additionalImages" ng-show="additionalImages">
                            <ul>
                                <li ng-repeat="image in additionalImages">
                                    <img ng-src="{{image.thumbnail}}" ng-click="showImage(image.roomImageID)" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <strong>Location:</strong> {{room.location}}<br />
                    <strong>Building:</strong> {{room.building}}<br />
                    <strong>Room Number:</strong> {{room.roomNumber}}<br />
                    <strong>Room Name:</strong> {{room.roomName | iif : room.technology : "[ Left Blank ]"}}<br />
                    <strong>Room Type:</strong> {{room.roomType}}<br />
                    <strong>Capacity:</strong> {{room.roomCapacity}}<br />
                    <strong>Department:</strong> {{room.department}}<br />
                    <div ng-show="room.contactPersion">
                        <strong>Contact Person:</strong> {{room.contactPerson}}<br />
                    </div>
                    <strong>Contact Email:</strong> {{room.contactEmail}}<br />
                    <strong>Technology:</strong> {{room.technology | iif : room.technology : "[ Not Specified ]"}}<br />
                    <strong>How to Reserve:</strong><br />
                    {{room.reserve}}<br />
                    
                    <div ng-show="room.roomDetails">
                        <strong>Additional Details:</strong><br />
                        {{room.roomDetails}}<br />
                    </div>
                    <div ng-show="room.bookingLink">
                        <strong>Reservation URL:</strong> <a href="{{room.bookingLink}}" target="_blank">{{room.bookingLink}}</a><br />
                    </div>
                    <div ng-show="room.additionalImagesLink">
                        <strong>Additional Images Link:</strong> <a href="{{room.additionalImagesLink}}" target="_blank">{{room.additionalImagesLink}}</a><br />
                    </div>
                    <div class="closeContainer">
                        <button class="btn btn-primary" aria-hidden="true" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="modal fade full-image" id="fullImage" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
                </div>
                <div class="modal-body">
                    <img ng-src="{{room.fullImage}}" />
                    <div class="closeContainer">
                        <button class="btn btn-primary" aria-hidden="true" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>


 